<div class="container py-3">

  <div  class="row row-cols-1 row-cols-md-5 g-4">
    <div *ngFor="let friend of friends" class="col">
      <div class="card bg-light">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png" class="card-img-topimg-responsiv p-3" alt="user photo">
        <div class="card-body">
          <h5 class="card-title badge bg-info fs-5 text-light mb-3">{{friend.username}}</h5>
          <p class="card-text"><span class="fw-bold">Name: </span> {{friend.name}}</p>
          <p class="card-text"><span class="fw-bold">Email: </span> {{friend.email}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
